@page "/user/orders"
@using Microsoft.Extensions.Localization
@using eShop.WebApp.Resources
@attribute [Authorize]
@attribute [StreamRendering]
@inject OrderingService OrderingService
@inject IStringLocalizer<SharedResources> Localizer

<PageTitle>@Localizer["Orders.Title"] | AdventureWorks</PageTitle>
<SectionContent SectionName="page-header-title">@Localizer["Orders.Title"]</SectionContent>
<OrdersRefreshOnStatusChange />

<div class="orders">
@if (orders is null)
{
    <p>@Localizer["Common.Loading"]</p>
}
else if (orders.Length == 0)
{
    <p>@Localizer["Orders.NoOrders"]</p>
}
else
{
    <ul class="orders-list">
        <li class="orders-header orders-item">
            <div>@Localizer["Orders.Number"]</div>
            <div>@Localizer["Orders.Date"]</div>
            <div class="total-header">@Localizer["Orders.Total"]</div>
            <div>@Localizer["Orders.Status"]</div>
        </li>
        @foreach (var order in orders)
        {
            <li class="orders-item">
                <div class="order-number">
                    @order.OrderNumber
                </div>
                <div class="order-date">
                    @order.Date
                </div>
                <div class="order-total">
                   $@order.Total.ToString("0.00")
                </div>
                <div class="order-status">
                    <span class="status @order.Status.ToLower()">
                        @order.Status
                    </span>
                </div>
            </li>
        }
    </ul>
}
</div>

@code {
    private OrderRecord[]? orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderingService.GetOrders();
    }
}
