@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authentication.OpenIdConnect;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Localization
@using eShop.WebApp.Resources
@inject LogOutService LogOutService
@inject NavigationManager Nav
@inject IStringLocalizer<SharedResources> Localizer

<AuthorizeView>
    <Authorized>
        <h3>@context.User.Identity?.Name</h3>
        <div class="dropdown-menu">
            <span class="dropdown-button"><img role="presentation" src="icons/user.svg" /></span>
            <div class="dropdown-content">
                <a class="dropdown-item" href="user/orders">@Localizer["User.MyOrders"]</a>
                <form class="dropdown-item" method="post" action="user/logout" @formname="logout" @onsubmit="LogOutAsync">
                    <AntiforgeryToken />
                    <button type="submit">@Localizer["User.LogOut"]</button>
                </form>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <a aria-label="@Localizer["User.SignIn"]" href="@Pages.User.LogIn.Url(Nav)"><img role="presentation" src="icons/user.svg" /></a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    private Task LogOutAsync()
        => LogOutService.LogOutAsync(HttpContext!);
}
